.prettierButton {
  font-size: 25px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.bigPoint {
  font-size: 25px;
}

.appDiv {
  max-width: 500px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ccccd1;
  border-radius: 3px;
}
